html, body    { 
    font-family: 'Arial', serif;
    background: #999; 
    height:100%; 
}

h1,h3         { 
    margin: 0; 
    text-align:center; 
}


#header { text-align:center }

.blackbg {
    background: #444444;
    color: #eeeeee;
    padding: 10px;
    border-radius: 7px;
    margin:1%;
}


.whitebg {
    background: #eeeeee;
    color: #444444;
    padding: 10px;
    border-radius: 7px;
    margin:1%;
}

a { color:inherit }

.active-result { color:#444444; text-align: left}


#wrap {
    width:90%;
    margin: 0 auto;
    min-height:90%;
    position: relative;
    padding-bottom:4%;
}

#langwrapper { height:1.5em; }


.tasks { width:250px; color:#ff0000 }
.lang { width:150px; color:#ff0000 }


#descr {
    width: 70%;
    margin: 0 auto;
}

.centre { text-align:center }

#footer {
    text-align: center;
    padding:1px;
    position:absolute;
    bottom:0;
    left:0.5%;
    right:0.5%;
}

#why { float:right; }

.blackbg pre { 
    padding: 10px;
    border-radius: 7px;
    overflow: auto;
    color: #eeeeee;
    background: #444444;
}

select {
    padding: 1px 0px 1px 4px;
    width: 130%;
    border: none;
    box-shadow: none;
    background-image: none;
    -webkit-appearance: none;
}
