html, body    { 
    font-family: 'Arial', serif;
    background: #999; 
    height:100%; 
    width 90%;
}

h1,h3         { 
    margin: 0; 
    text-align:center; 
}

.blackbg {
    background: #444444;
    color: #eeeeee;
    padding: 10px;
    border-radius: 7px;
}


.whitebg {
    background: #eeeeee;
    color: #444444;
    padding: 10px;
    border-radius: 7px;
}


.whitebg a:link { color: #333333 }
.whitebg a:visited { color: #666666 }

.blackbg a:link { color: #ffffff }
.blackbg a:visited { color: #aaaaaa }

#wrap {
    width:90%;
    margin: 0 auto;
    min-height:95%;
}

#langwrapper { overflow:hidden;
               height:100%; }

#main { 
    font-size: 0.8em;
    overflow:auto;
    height:100%;
}

select.tasks { width:250px; }
select.lang { width:150px; }

#descr {
    width: 70%;
    margin: 0 auto;
}

#centre { text-align:center }

#footer {
    text-align: center;
    margin:0 auto;
    padding:1px;
}

#why { float:right; }

.blackbg pre { 
    padding: 10px;
    border-radius: 7px;
    overflow: auto;
    background: #eeeeee;
    color: #444444;
}

select {
    padding: 1px 0px 1px 4px;
    width: 130%;
    border: none;
    box-shadow: none;
    background-image: none;
    -webkit-appearance: none;
}
