html, body        { font-family: 'Arial', serif; background: #999; height:100%; width 90%;}
h1,h3         { margin: 0; text-align:center; }

.blackbg {
    background: #444444;
    color: #eeeeee;
}

.blackbg a:link { color: #9a96eb }
.blackbg a:visited { color: #9a75eb }

.whitebg {
    background: #eeeeee;
    color: #444444;
}

#wrap {
    width:90%;
    margin: 0 auto;
    min-height:95%;
}

#main { 
    font-size: 0.8em;
    overflow:auto;
    padding-bottom:10px;
    height:100%;
}

select.tasks { width:250px; }
select.lang { width:150px; }

#output { 
    padding:10px; 
}

#header {
    padding:15px;
}

#descrwrapper {
    padding:10px;
    font-size: 1em; 
}

#descr {
    width: 70%;
    margin: 0 auto;
}

#task {
    padding: 10px;
    border-radius: 7px;
}


#centre { text-align:center }

#footer {
    position:relative;
    text-align: center;
    width:90%;
    margin:0 auto;
    top:-30px;
    height:30px;
    line-height:30px;
}

pre { 
    padding: 10px;
    border-radius: 7px;
    overflow: auto;
    background: #eeeeee;
    color: #444444;
}

select {
    padding: 1px 0px 1px 4px;
    width: 130%;
    border: none;
    box-shadow: none;
    background-image: none;
    -webkit-appearance: none;
}
