body            { font-family: sans-serif; background: #999; }
a, h1, h2       { color: #377BA8; }
h1, h2          { font-family: 'Arial', serif; margin: 0; }
h1              { border-bottom: 2px solid #eee; }
h2              { font-size: 1.2em; }

#main { 
    text-align: center;
    font-size: 0.8em;
    margin: 0 auto;
    background: #fafafa;
    width:900;
}

#descr {
    color: #0ab; 
    background:#ddd;
    padding:10px
}

#container {
    display: table;
}

#col1 {
    display: table-cell;
    color: #8ee;
    width:50%;
    background:#056;
    text-align:left;
    padding:10px
}

#col2 { 
    display: table-cell;
    color: #056;
    width:50%;
    background:#8ee;
    text-align:left;
    padding:10px
}

#footer {}
