{% extends "base.html" %}
{% block styles %}
{% if hide %}<link rel=stylesheet type=text/css href='{{url_for('static', filename='onecol.css')}}'>
{% else %}<link rel=stylesheet type=text/css href='{{url_for('static', filename='twocol.css')}}'>{% endif %}
<link rel=stylesheet type=text/css href='{{url_for('static', filename='pyg.css')}}'>
{% endblock %}
{% block main %}
        <form action="#">
            <div id=descrwrapper class=whitebg>
                <div id=langwrapper class=blackbg>
                    <div style="float:left;"><span>Language 1:</span>
                        <select class="lang" name="lang1" onchange="this.form.submit()">
                            {% for lang in lang1list %}<option value="{{lang}}"{% if lang == lang1 %} selected="selected"{% endif %}>{{lang}}</option>{% endfor %}
                        </select>
                        <span>filter:</span>
                        <span>top</span>
                        <input type="checkbox" onchange="this.form.submit()" name="l1top" value="true" {% if l1top %}checked{% endif %}>
                        <span>python</span>
                        <input type="checkbox" onchange="this.form.submit()" name="l1python" value="true" {% if l1python %}checked{% endif %}>
                    </div>
                    <div style="float:right;"><span>Language 2:</span>
                        <select class="lang" name="lang2" onchange="this.form.submit()">
                            {% for lang in lang2list %}<option value="{{lang}}"{% if lang == lang2 %} selected="selected"{% endif %}>{{lang}}</option>{% endfor %}
                        </select>
                        <span>filter:</span>
                        <span>top</span>
                        <input type="checkbox" onchange="this.form.submit()" name="l2top" value="true" {% if l2top %}checked{% endif %}>
                        <span>python</span>
                        <input type="checkbox" onchange="this.form.submit()" name="l2python" value="true" {% if l2python %}checked{% endif %}>
                        <span>hide</span>
                        <input type="checkbox" onchange="this.form.submit()" name="hide" value="true" {% if hide %}checked{% endif %}>
                    </div>
                </div>
                <p></p>
                <div id=descr class="blackbg">
                    <div style="text-align:center">
                        <p>
                            <span>Task:</span>
                            <select class="tasks" name="task" onchange="this.form.submit()">
                            {% for t in tasklist %}<option value="{{t}}" {% if t == task %}selected="selected"{% endif %}>{{t}}</option>{% endfor %}
                            </select>
                        </p>
                        {% if rclink %} <span><a href="{{rclink}}">RosettaCode link</a></span> {% endif %}
                    </div>
                    <p>{{taskdesc|safe}}</p>
                </div>
            </div>
            <div id=col1>
                <h3>{{lang1}}</h3>
                <p>{{lang1code|safe}}</p>
            </div>
            <div id=col2>
                <h3>{{lang2}}</h3>
                <p>{{lang2code|safe}}</p>
            </div>
        </form>
{% endblock %}
