{% extends "base.html" %}
{% block main %}

<style> h3 { text-align:left } </style>

<div class=whitebg>
     <div id=descr class=blackbg>
    <h2> FAQ </h2>
    <h3 id="what-is-this-site">What is this site?</h3>
    <p>It is simply an improved interface for navigating the <a href="http://www.rosettacode.org">RosettaCode</a> website. I love RosettaCode but I think it's constrained by the use of wikimedia backend which heavily determines overall structure of the website - great for browsing but not so great for structured learning and deeper exploration.</p>
    <p>Two particular features that I think would be useful are the ability compare two languages side by side, and the ability filter out the more obscure languages and tasks and stick to what is most likely to be useful. This website is my attempt response.</p>
    <h3 id="did-you-scrape-rossetacode">Did you scrape RosettaCode?</h3>
    <p>Not exactly. I exported the programming tasks using the MediaWiki API, then parsed and rerendered it.</p>
    <h3 id="the-links-are-broken">The links are broken!</h3>
    <p>Only the programming task links have been reimplemented. Any other links internal to RosettaCode will fail, sadly.</p>
    <h3 id="the-rendering-is-broken">The rendering is broken!</h3>
    <p>The are still a lot of edge-cases that are yet to be dealt with - please fire me an email!</p>
    <h3 id="who-made-this">Who made this?</h3>
    <p><a href="https://github.com/adwhit">My github</a></p>
    <h3 id="licence-information">Licence Information</h3>
    <p>All content is licensed under the <a href="http://www.gnu.org/licenses/fdl-1.2.html">GNU Free Documentation License</a>.</p>
    </div>
</div>
{% endblock %}
