<!doctype html>
<html>
<head>
<title>Rosetta Clone</title>
<link rel=stylesheet type=text/css href='{{url_for('static', filename='style.css')}}'>
</head>
  
<body>
<div id=main>
    <h1>Rosetta Clone</h1>
    <form action="#" method="post">
        <div id=descr>
            <select name="taskname" onchange="this.form.submit()">
                {% for task in tasklist %}
                <option value="{{task}}"{% if task == taskname %}selected="selected"{% endif %}>{{task}}</option>{% endfor %}
            </select>
            <p>{{taskdesc}}</p>
        </div>
        <div id=container>
            <div id=col1>
                <select name="col1" onchange="this.form.submit()">{% for lang in langlist1 %}<option value="{{lang}}">{{lang}}</option>{% endfor %}</select>
                <p>{{code1}}</p>
            </div>
            <div id=col2>
                <select name="col2"  onchange="this.form.submit()">{% for lang in langlist2 %}<option value="{{lang}}">{{lang}}</option>{% endfor %}</select>
                <p>{{code2}}</p>
            </div>
        </div>
    </form>
    <div id=footer> RESET|RETURN </div>
</div>
</body>
</html>
