<!doctype html>
<html>
<head>
<title>Rosetta Clone</title>
<link rel=stylesheet type=text/css href='{{url_for('static', filename='default.css')}}'>
<link rel=stylesheet type=text/css href='{{url_for('static', filename='pyg.css')}}'>
</head>
<body>
<a name="top"></a>   
<div id=wrap>
    <div id=main>
        <div id=header>
            <h1>Rosetta Clone</h1>
        </div>
        <form action="#" method="post">
            <div id=descrwrapper>
                <div id=descr>
                    <div id=centre>
                        <p>
                        Columns:
                        <input type="radio" onchange="this.form.submit()" name="colchoice" value="one" {%if colchoice == "one" %}checked="checked"{%endif %}> One
                        <input type="radio" onchange="this.form.submit()" name="colchoice" value="two" {%if colchoice == "two" %}checked="checked"{%endif %}> Two
                        </p>
                        <span>Task:</span>
                        <select class="tasks" name="taskname" onchange="this.form.submit()">
                            {% for task in tasklist %}<option value="{{task}}"{% if task == taskname %}selected="selected"{% endif %}>{{task}}</option>{% endfor %}
                        </select>
                        <input type="radio" onchange="this.form.submit()" name="taskfilter" value="all" {%if taskfilter == "all" %}checked="checked"{%endif %}> All
                        <input type="radio" onchange="this.form.submit()" name="taskfilter" value="top" {%if taskfilter == "top" %}checked="checked"{%endif %}> Top
                    </div>
                    <p>{{taskdesc|safe}}</p>
                </div>
            </div>
            <div id=col1>
                <div id=centre>
                    <span>Language 1:</span>
                    <select class="lang" name="col1" onchange="this.form.submit()">
                        {% for lang in langlist1 %}<option value="{{lang}}"{% if lang == lang1 %}selected="selected"{% endif %}>{{lang}}</option>{% endfor %}
                    </select>
                    <input type="radio" onchange="this.form.submit()" name="lang1filter" value="all" {%if lang1filter == "all" %}checked="checked"{%endif %}> All
                    <input type="radio" onchange="this.form.submit()" name="lang1filter" value="top" {%if lang1filter == "top" %}checked="checked"{%endif %}> Top
                </div>
                <p>{{code1|safe}}</p>
            </div>
            <div id=col2>
                <div id=centre>
                    <span>Language 2:</span>
                    <select class="lang" name="col2" onchange="this.form.submit()">
                        {% for lang in langlist2 %}<option value="{{lang}}"{% if lang == lang2 %}selected="selected"{% endif %}>{{lang}}</option>{% endfor %}
                    </select>
                    <input type="radio" onchange="this.form.submit()" name="lang2filter" value="all" {%if lang2filter == "all" %}checked="checked"{%endif %}> All
                    <input type="radio" onchange="this.form.submit()" name="lang2filter" value="top" {%if lang2filter == "top" %}checked="checked"{%endif %}> Top
                </div>
                <p>{{code2|safe}}</p>
            </div>
        </form>
    </div>
</div>
<div id=footer>
    <p><a href=#top>RETURN</a></p>
</div>
</body>
</html>
